<!DOCTYPE html>
<html>
  <head>
    {%- if title %}
    <title>{{ title }} - snippets</title>
    {%- else %}
    <title>snippets</title>
    {%- endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename="3rd_party/css/bootstrap.min.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename="3rd_party/css/bootstrap-theme.min.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename="3rd_party/css/highlight-default.min.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/fixups.css") }}" type="text/css" />
  </head>
  <body>
  <!-- Navbar -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="{{ url_for('snippet.new_snippet') }}"><span class="glyphicon glyphicon-plus"></span></a></li>
          </ul>
          <form role="search" class="navbar-form navbar-right" action="{{url_for('search')}}" method="post" name="search">
            <div class="form-group">
              {{g.search_form.hidden_tag()}}
              <div class="input-group">
                {{g.search_form.query(size=40, class="form-control")}}
                <span class="input-group-btn" type="button">
                  <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      {%- for msg_type, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-dismissible {{ msg_type }}" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <span>{{ msg }}</span>
        </div>
      {%- endfor %}
      {%- block content %}{%- endblock %}
      </div>
    </div>
  </div>

  <!-- JS last to speed up loading -->
  <script src="{{ url_for('static', filename="3rd_party/js/jquery.min.js") }}"></script>
  <script src="{{ url_for('static', filename="3rd_party/js/bootstrap.min.js") }}"></script>
  <script src="{{ url_for('static', filename="3rd_party/js/highlight.min.js") }}"></script>

  <script>hljs.initHighlightingOnLoad();</script>

  {%- block scripts %}{%- endblock %}
  </body>
</html>
