{%- extends "base.html" %}
{%- block content %}
{%- if results %}
  <h4>{{ results | length }} newest snippets</h4>
    {%- for column in results | slice(2) %}
    <div class="row col-md-6">
      {%- for snippet in column %}
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <a href='{{ url_for('snippet.get_snippet', id=snippet.id) }}'>{{ snippet.title }}</a>
            <div class="pull-right">
              <a href="{{ url_for('snippet.edit_snippet', id=snippet.id) }}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              &nbsp;
              <a href="{{ url_for('snippet.delete_snippet', id=snippet.id) }}">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
          </div>
          <div class="panel-body">
            {{ snippet.text | truncate(250) | markdown }}
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
    {%- endfor %}
  </div>
{%- else %}
  <h4>There are no snippets. Why don't you <a href='{{ url_for('snippet.new_snippet') }}'>Create One</a>?</h4>
{%- endif %}
{%- endblock %}
