{%- extends "base.html" %}
{%- import 'macros.html' as macros %}

{%- block content %}
{%- if results %}
  <h4>{{ results | length }} newest snippets</h4>
    {%- for column in results | slice(2) %}
    <div class="row col-md-6">
      {%- for snippet in column %}
      <div class="col-md-12">
        {{ macros.snippet_panel(snippet, truncate=True) }}
      </div>
      {%- endfor %}
    </div>
    {%- endfor %}
  </div>
{%- else %}
  <h4>There are no snippets. Why don't you <a href='{{ url_for('snippet.new_snippet') }}'>Create One</a>?</h4>
{%- endif %}
{%- endblock %}
