{% macro input(field) %}
  <div class="form-group has-feedback{%- if field.errors %} has-error{% endif %}">
    {{ field.label(class="control-label") }}
    {{ field(class="form-control", **kwargs)}}
    {%- if field.errors %}
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    {%- for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {%- endfor %}
    {%- endif %}
  </div>
{%- endmacro %}

{%- macro snippet_panel(snippet, truncate=False, edit=False) -%}
   <div class="panel panel-info">
     <div class="panel-heading">
     {%- if snippet.id %}
       <a href='{{ url_for('snippet.get_snippet', id=snippet.id) }}'>{{ snippet.title }}</a>
       {%- if edit %}
       <div class="pull-right">
         <a href="{{ url_for('snippet.edit_snippet', id=snippet.id) }}">
           <span class="glyphicon glyphicon-pencil"></span>
         </a>
         <a href="{{ url_for('snippet.delete_snippet', id=snippet.id) }}">
           <span class="glyphicon glyphicon-trash"></span>
         </a>
       </div>
       {%- endif %}
     {%- else %}
       <a href='#'>{{ snippet.title }}</a>
     {%- endif %}
     </div>
     <div class="panel-body">
     {%- if truncate %}
       {{ snippet.text | truncate(250) | markdown }}
     {%- else %}
       {{ snippet.text | markdown }}
     {%- endif %}
     </div>
   </div>
{%- endmacro %}
